XML_JSON/XML_JSON/DepEmplXsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="allDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Department">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="employee">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="startdate" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="externalId" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>